@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> Welcome to Jeff's Burger</h1>
 <!   <p>Hamburguesas <a> href "https://localhost:7084/Burgers"</a> </p>>
    
</div>
